---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="no">
  <head>
    <!-- Bulma CSS Framework -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
    />
    <title>{title}</title>
    <style>
      main {
        display: grid;
        grid-template-columns: 16em 1fr;
      }
    </style>
  </head>
  <body>
    <header class="has-background-primary p-4">
      <div class="container">
        <h1 class="title has-text-white">Kjapp faktura!</h1>
        <nav>
          <a href="/" class="has-text-white">Hjem</a>
          <a href="/InvoiceStatic" class="has-text-white">Statisk</a>
          <a href="/InvoiceJoy" class="has-text-white">SPA/SSR</a>
          <a href="/Laptop" class="has-text-white">Laptop</a>
        </nav>
      </div>
    </header>
    <main>
      <div class="menu-wrapper" style="padding: 16px;">
        <aside class="menu">
          <p class="menu-label title">Generelt</p>
          <ul class="menu-list">
            <li><a>Dashboard</a></li>
            <li><a>Kunder</a></li>
          </ul>
          <p class="menu-label title">Fakturering</p>
          <ul class="menu-list">
            <ul>
              <li><a>Fakturaoversikt</a></li>
              <li><a>Ny faktura</a></li>
              <li><a>Innstillinger</a></li>
            </ul>
          </ul>
          <p class="menu-label title">Prosjekt</p>
          <ul class="menu-list">
            <li><a>Prosjektoversikt</a></li>
            <li><a>Nytt prosjekt</a></li>
          </ul>
        </aside>
      </div>
      <div>
        <slot />
      </div>
    </main>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>AstroJoy</strong> viser deg et par forskjellige eksempler på bruk
          av Astro, også med litt Joy UI.
        </p>
      </div>
    </footer>
  </body>
</html>
